%h1 Admin::Users::Tasks::Comments#edit
= simple_form_for @comment, url: admin_user_task_comment_path(@user, @task, @comment) do |f|
  = f.input :content
  = f.association :user, as: :hidden
  = f.association :task, as: :hidden
  = f.submit :submit
