<!DOCTYPE html>
<html>
  <head>
    <title>Task Manager | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Task Manager", root_path, id: "logo", class: "navbar-brand" %>
          <div class="nav-collapse navbar-right">
            <ul class="list-inline">
              <li><span class="label "><%= link_to "Home", root_path, class: "navbar-brand" %></span></li>
              <li><span class="label "><%= link_to "Registration", '#', class: "navbar-brand"  %></span></li>
              <li><span class="label "><%= link_to "Sign in", '#', class: "navbar-brand"  %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
